body {
  overflow: hidden;
}
div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  background-color: white;
  top: 0;
}
.pad {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 630px;
  line-height: 2rem;
  font-size: 16px;
}
